@import "../../StylingComponent/colors";
@import "../../StylingComponent/style";

.taskCardContainer {
    // border: 1px solid red;
    box-shadow: var(--container-shadow);
    display: flex;
    flex-direction: column;
    height: 210px;
    width: 300px;
    border-radius: $primary_radius;
    border: 3px solid var(--sec-bg);
    background-color: var(--sec-bg);
    // cursor: pointer;
    padding: 0.5em;
    transition: all 0.3s;

    &:hover {
        scale: 1.02
    }

    .titleContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border: 1px solid white;
        padding: 0;

        p {
            font-size: large;
            font-weight: 800;
        }
    }

    .descriptionContainer {
        color: #A9A9A9;
        font-size: smaller;
        // border: 1px solid white;
        cursor: pointer;


    }

    .footerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        font-size: small;
        font-weight: 700;

        p:first-child {
            color: #646464;
        }

    }
}