@import "../../StylingComponent/colors";

.topBarContainer {
    width: 100%;
    padding: 1em;
    color: var(--text-side);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #535353;
    box-sizing: border-box;
    position: relative;
    //  background-color: red;

    .logo_icon {
        // background: linear-gradient(-45deg, rgba(38, 16, 78), rgba(81, 39, 106));
        // border: 1px solid red;
        max-height: 3em;
        max-width: 3em;

        img {
            object-fit: contain;
            max-width: 100%;
        }
    }

    .rightControls {
        position: relative;
        /* anchor for the dropdown */
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .settings_menu {
        position: absolute;
        top: calc(100% + 8px);
        /* below the avatar */
        right: 0;
        /* right aligned with avatar */
        min-width: 300px;
        background: var(--sec-bg);
        color: var(--text-side);
        border-radius: 8px;
        box-shadow: var(--container-shadow);
        padding: .8rem;
        z-index: 10000;
        display: flex;
        flex-direction: column;
        gap: 1em;

        .userDetails {
            display: flex;
            align-items: center;
            background-color: var(--highlight);
            // border: 1px solid red;
            justify-content: flex-start;
            gap: 1em;
            padding: 1em;
        }

        .settingsMenuItem {
            display: flex;
            gap: 1em;
            align-items: center;
            margin-left: 0.2em;

            p {
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }

    /* optional little arrow */


}