@import "/src/StylingComponent/colors.scss";
@import "/src/StylingComponent/style.scss";

.ContentEditor_Container {
    // border: 1px solid $dark_sec_bg;
    height: fit-content;
    padding: 0.5em;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .ContentEditor_heading {
        background-color: transparent;
        color: inherit;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        font-size: xx-large;
        font-weight: bold;
        // border: 1px solid red;
        border: none;
        // padding: 0.5em;
        text-transform: capitalize;
    }

    .ContentEditor_Content {
        // border: 1px solid red;
        // height: 10em;
        display: flex;
        flex-direction: column;
        gap: 1em;

        span {
            display: flex;
            gap: 1em;
            // border: 1px solid red;

            .ContentEditor_C_DateSelect {
                background-color: transparent;
                border: 1px solid $dark_text_side;
                color: $dark_text_side;
                padding: 0.8em;
                border-radius: 0.5em;
            }

            input[type="date"]::-webkit-calendar-picker-indicator {
                filter: invert(1);
                cursor: pointer;
            }

            .ContentEditor_C_PrioritySelect {
                border: 1px solid $dark_text_side;
                border-radius: 0.5em;
                padding-right: 0.4em;
                select {
                    background-color: transparent;
                    border: none;
                    color: $dark_text_side;
                    padding: 0.8em;
                    font-weight: bold;
                    outline: none;
                }
            }



        }
        .ContentEditor_C_DescBox{
            background-color: transparent;
            resize: none;
            height: 15em;
            padding: 0.8em;
            font-family: inherit;
            font-size: 1em;
            color: white;
            outline: none;
            border-radius: $primary_radius;

        }
    }

    .ContentEditor_notes {
        border: 2px solid #252222;
        height: 10em;
    }


    .ContentEditor_btnContainer{
        display: flex;
        justify-content: space-between;
    }
    .ContentEditor_saveBtn{
        background-color: transparent;
        width: fit-content;
        border: 1px solid white;
        padding: 0.8em;
        border-radius: $primary_radius;
        // background-color: orangered;
        color: white;
        font-weight: bold;
        cursor: pointer;
        font-size: 0.8em;
        transition: all 0.2s ease-in-out;

        &:hover{
            // background-color: transparent;
            // background-color: #008000 ;
            color: #008000;
            border-color:  #008000;;
        }
        
    }

    .ContentEditor_cancelBtn{
        background-color: transparent;
        width: fit-content;
        border: 1px solid white;
        padding: 0.8em;
        border-radius: $primary_radius;
        // background-color: orangered;
        color: white;
        font-weight: bold;
        cursor: pointer;
        font-size: 0.8em;
        transition: all 0.2s ease-in-out;

        &:hover{
            background-color: transparent;
            color: orangered;;
            border-color:  orangered;;
        }
    }
}