@import "../../../StylingComponent/colors";
@import "../../../StylingComponent/style";

.allTasks_ViewContainer {
    color:  var(--text-side);
    display: flex;
    // border: 1px solid red;
    flex-direction: column;
    gap: 0.1em;
    margin-left: 1em;


    .allTasks_TitleContainer {
        display: flex;
        height: fit-content;
        justify-content: space-between;
        align-items: center;
        
        .toggleButton{
            // height: 30px;
           
        }

        p {
            font-weight: bold;
            font-size: x-large;
        }
    }

    .allTasks_TasksContainer {
        display: flex;
        gap: 1em;
        flex-wrap: wrap;

        .allTasks_AddTaskBtn {
            height: 210px;
            width: 300px;
            border: 3px dashed $dark_sec_bg;
            border-radius: $primary_radius;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5em;
            color: #1F1F1F;
            cursor: pointer;
            transition: all 0.2s;


            &:hover {
                color: white;
                border-color: white;
            }
        }
    }

    .taskDetails{
        background-color: $dark_sec_bg;
        border-radius: $primary_radius;
        // border: 1px solid red;
        height: 80%;
        width: 70%;
    }


}